@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


    <div class="row">
        <div class="col-md-20">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Our Members</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="~/images/ravi.jpg" height="150px" width="130px"/></td>
                        <td class="text-right">
                            <p align="left"><strong>Ravi Kumar Katakum</strong></p>
                            <p align="left">With years of work expertise in Techno Functional Consulting and as developer, Ravi became a part of the 
                                            founding team of LMS and today, he drives the business functional strategy and growth areas.</p></td>
                    </tr>     
                    <tr>
                        <td><img src="~/images/pallavi.jpg" height="150px" width="130px"/></td>
                        <td class="text-right">
                            <p align="left"><strong>Pallavi Roy</strong></p>
                            <p align="left">She spearheaded the organization into what it is today. After working in the startegy team, she was driven by 
                                            the desire to solve problems in managing organizations. This was the start of LMS.</p></td>
                    </tr>                                                 
                </tbody>
            </table>
        </div>
    </div>
