@page
@model HelpModel
@{
}
<div>
    <div>
    <div>
        <p>LMS is the super-simple staff leave planner which can be used by any sized company to organise their time off work. It's the online and paperless way to manage staff leave which gets rid of holiday forms and spreadsheets.</p>
        <p>Instead of passing around paper forms, you make requests direct from an online portal and make 
                approvals through same portal. Everything is tracked and updated instantly.</p>
    </div>
    </div>
</div>

<div>
    For a Person to apply leave we must have 
    <ol>
        <li>Employees to raise a leave request</li>
        <li>Leave Types and Leave Balances.</li>
        <li>Supervisors to Approve</li>
        </ol>
</div>

<div>
    <p><strong>Create an Employee by navigating to Admin and select Employees and then select 
        create new employee</strong> </p>
        <img src="~/images/one.jpg" alt="Creating an Employee" height="auto" width="1000px">
    <p><strong>Create an Leave Types from admin select Leave Type as shown below </strong> </p>
        <img src="~/images/two.jpg" alt="Creating a Leave Type" height="auto" width="1000px">
    <p><strong>Create an Leave Balance for an Employee go to - Employee Leaves under Admin</strong> </p>
        <img src="~/images/Three.jpg" alt="Creating a Leave Balance" height="auto" width="1000px">
    <p><strong>Create a Leave Request for an Employee go to - New Leave Request under Employee</strong> </p>
        <img src="~/images/four.jpg" alt="Creating a Leave Request" height="auto" width="1000px">
        <img src="~/images/twelve.jpg" alt="Creating a Leave Request" height="auto" width="1000px">
    <p><strong>After creation of leave request, the leave balance of that employee gets deducted </strong> </p>
        <img src="~/images/five.jpg" alt="Leave Balance deducted" height="auto" width="1000px">
    <p><strong>Manager views all pending leave requests go to - Pending Request from Manager </strong> </p>
        <img src="~/images/ten.jpg" alt="Manager edits pending request" height="auto" width="1000px">
    <p><strong>To approve/reject Leave go to - Pending Request from Manager </strong> </p>
        <img src="~/images/eleven.jpg" alt="Manager edits pending request" height="auto" width="1000px">
        <img src="~/images/six.jpg" alt="Manager edits pending request" height="auto" width="1000px">
    <p><strong>To search Employee records go to - Search Employee Details from Manager </strong> </p>
        <img src="~/images/seven.jpg" alt="Search Employee Details" height="auto" width="1000px">
    <p><strong>To Check leave balance of an Employee go to - Leave Balance from Employee </strong> </p>
        <img src="~/images/eight.jpg" alt="Check Leave Balance" height="auto" width="1000px">
    <p><strong>To check the leave - My Request List by an Employee </strong> </p>
        <img src="~/images/nine.jpg" alt="Check Leave Request" height="auto" width="1000px">
</div>

