@page
@model CoreLms.Pages.Leaves.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Employee Leave</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Leave.Id" />
            <div class="form-group">
                <label asp-for="Leave.LeaveTypeId" class="control-label"></label>
                <select asp-for="Leave.LeaveTypeId" class="form-control" asp-items="ViewBag.LeaveTypeId"></select>
                <span asp-validation-for="Leave.LeaveTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leave.Balance" class="control-label"></label>
                <input asp-for="Leave.Balance" class="form-control" />
                <span asp-validation-for="Leave.Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leave.EmployeeId" class="control-label"></label>
                <select asp-for="Leave.EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="Leave.EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
